@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #F5F5F5;
  --texto: #222222;
  --texto-inverso: white;
  --destaque: #0077FF;
  --destaque-inverso: #66BBFF;
  --fundo-card: white; 
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #E0E0E0;
  --texto-inverso: #e6d6d6;
  --destaque: #b92323;
  --destaque-inverso: #A73917;
  --fundo-card: #444444; 
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  transition: background-color 0.5s, color 0.5s;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

header h1 {
  color: var(--texto-inverso);
  font-size: 1.3em;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.5em;
  text-align: left;
}

section#ficha p {
  text-align: justify;
}


div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

article#experience div.exp {
  padding-bottom: 15px;
}

article#experience div.exp ul {
  padding-top: 10px;
  padding-left: 30px;
}


#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s, borde-color 0.5s;
}

#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;

}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao {
  color: var(--destaque-inverso);
  font-size: 1.1em;
}

#projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-color 0.5s, border-width 0.5s;
}

#projeto-container .projeto:hover {
  border-color: var(--destaque);
  border-left-width: 15px;
  cursor: pointer;
}

#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  color: var(--texto);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;

  }
  
  section#ficha {
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
  }

  section#detalhes {
    grid-column: 3 /4;
  }


  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}